<!-- Vista Login de la App Login -->
<!DOCTYPE html>
<html>

    <head>
        <title>Log in</title>
    </head>

    <body>

        <!-- No se que hace el extends jeje -->
        {% extends 'index.html' %}

        <!-- Abre un bloque de contenido -->
        {% block content %}

            <h1>Log in</h1>

            <!-- Muestra retorno a Homepage -->
            <a href="{% url 'home' %}"> Inicio </a>
            <p> </p>

            <!-- Abre un formulario de logueo -->
            <form method='POST'>
                {% csrf_token %}

                <!-- Presentalo como una lista -->
                {{form.as_ul}}

                <!-- Boton de login -->
                <button>Log in</button>

            </form>

            <!-- Muestra retorno a Restablecer contraseña -->
            <p> </p>
            <a href="{% url 'password_reset' %}"> Olvidaste tu contraseña? </a>
            <p> </p>


        {% endblock %}

    </body>

</html>