<!-- Vista Envio de correo de la App Login -->
<!DOCTYPE html>
<html>

<head>
  <title>Envio de correo</title>
  <style>
    
    .card {
      margin-top: 10%;
      width: 80%;
      height: 100%;
      margin-left:10% ;
    }
    .card-text{
      text-align: justify;
      font-size: 150%;
      font-family: 'Raleway', sans-serif;
    }
  </style>
</head>

<div>

  {% extends 'index.html' %}

  {% block content %}

  <div class="card text-center">
    <div class="card-header">
     Veterinaria
    </div>
    <div class="card-body">
      <div class="card-text">{{user.username}} le hemos enviado un email con instrucciones para restablecer su contraseña, si un usuario
        existe con el email
        proveido.
        En breve recibira en el email las instruciones.
        Si no ha recibido un email, por favor asegurese de haber proveido el email con el que se registro, y revise su
        folder de spam.</div>
      <a href="{% url 'password_change' %}" class="btn btn-primary">Volver a enviar email</a>
    </div>
  </div>
 


  <!-- Muestra retorno a Homepage -->

  {% endblock %}

  </body>

</html>