<!-- Vista Contraseña Restablecida de la App Login -->
<!DOCTYPE html>
<html>

<head>
  <title>Contraseña Restablecida</title>
  <style>
    .texto {
      padding-top: 20%;
      height: 150px;
      /*IMPORTANTE*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ll {

      height: 200px;
      width: 600px;
      text-align: center;
    }

    .texto2 {
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
      width: 500px;
      text-align: center;
    
    }
  </style>
</head>

<body>
  {% extends 'index.html' %}

  {% block content %}
  <div class="texto">
    <div class="ll">
      <div class="texto2">
        Tu contraseña ha sido restablecida!.
        <p>

        </p>
        Puedes intentar hacer
        
        <a href="{% url 'login_url' %}">Log in</a> ahora.
      </div>

    </div>
  </div>

  {% endblock %}

</body>

</html>