<!-- Vista Contenido del Email de restablecimiento de cvontraseña de la App Login -->
<!DOCTYPE html>
<html>

    <head>
        <title>Email de Restablecimiento de Contraseña</title>
    </head>

    <body>

        {% autoescape off %}
        <p>
        Para iniciar con el proceso de restablecimiento de contraseña del usuario {{ user.get_username }},
        haga click en el link de abajo:
        </p>    

        <!-- Link de recuperacion de contraseña -->
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        <p>
        Si haciendo click en el link no funciona, por favor copie y pegue el URL en una nueva pestaña 
        de su navegador.
        </p>

        <p>De: The Inventario Team</p>
        {% endautoescape %}

    </body>

</html>