<!-- Vista Login de la App Login -->
<!DOCTYPE html>
<html>

    <head>
      
      <title>Cambio de Contraseña</title>

    </head>

    <body>

      {% extends 'index.html'%}

      {% block content %}

        <h1>Cambio de Contraseña</h1>

        <!-- Muestra retorno a Dashboard -->
        <a href="{% url 'dashboard' %}"> Dashboard </a>
        <p> </p>

        <form method="post">
          {% csrf_token %}
          {{ form.as_ul }}
          <button type="submit">Guardar Cambios</button>
        </form>

      {% endblock%}
    </body>

 </html>