<!-- Vista Restablecer Contraseña (Formulario) de la App Login -->
<!DOCTYPE html>
<html>

  <head>
    <title>Restablecer Contraseña</title>
  </head>

  <body>
    {% extends 'index.html' %}

      {% block content %}
        {% if validlink %}
          <h3>Restablecer Contraseña</h3>
          <form method="post">
            {% csrf_token %}
            <!--{{ form.as_ul }}-->
            <div class="login-wrap">
              <div class="login-html">
                  <div class="contraseña">
                      <h1>Restalecer contraseña</h1>
                  </div>
              </div>
              <div class="login-form">
                  <div class="group">
                      <div class="label">
                          {{form.new_password1.label}}
                      </div>
                      {{form.new_password1}}
                  </div>
                  <div class="group">
                    <div class="label">
                
                      <ul>
                        <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                        <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                        <li>Su contraseña no puede ser completamente numérica.</li>
                      </ul>
                    </div>
                    
                </div>
                  <div class="group">
                      <div class="label">
                          {{form.new_password2.label}}
                      </div>
                      {{form.new_password2}}
                  </div>
                  <div class="boton">
                    <button type="submit">Restablecer Contraseña</button>
                  </div>
              </div>
            </div>
          </form>
        {% else %}
          <p>
            El link de restablecimiento de contraseña es invalido, posiblemente ya ha sido usado.
            Por favor haga un nuevo request para restablecer la contraseña.
          </p>
        {% endif %}
      {% endblock %}
  </body>
</html>