<!-- Vista Contenido del Email de restablecimiento de cvontraseña de la App Login -->
<!DOCTYPE html>
<html>

  <head>
    <title>Contraseña Olvidada?</title>
  </head>

  <body>
    {% extends 'index.html' %}

    {% block content %}
    <h1> ㅤ</h1>
      <form method="POST">
        {% csrf_token %}
        <!--{{ form.as_ul }}
        {{form.email.label}}
        {{form.email}}
        -->
        <div class="login-wrap">
          <div class="login-html">
              <div class="contraseña">
                  <h1>Contraseña Olvidada?</h1>
              </div>
          </div>
          <div class="login-form">
              <div class="group">
                  <div class="label">
                      {{form.email.label}}
                  </div>
                  {{form.email}}
              </div>
              <div class="boton">
                <button type="submit">Enviar</button>
              </div>

          </div>
      </div>
      </form>
    {% endblock %}
  </body>
</html>