<!-- Vista Restablecer Contraseña (Formulario) de la App Login -->
<!DOCTYPE html>
<html>

  <head>
    <title>Restablecer Contraseña</title>
  </head>

  <body>
    {% extends 'index.html' %}

      {% block content %}
        {% if validlink %}
          <h3>Restablecer Contraseña</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit">Restablecer Contraseña</button>
          </form>
        {% else %}
          <p>
            El link de restablecimiento de contraseña es invalido, posiblemente ya ha sido usado.
            Por favor haga un nuevo request para restablecer la contraseña.
          </p>
        {% endif %}
      {% endblock %}
  </body>
</html>