<!-- Vista Envio de correo de la App Login -->
<!DOCTYPE html>
<html>

<head>
  <title>Envio de correo</title>
  <style>
    .texto {
      padding-top: 15%;
      height: 150px;
      /*IMPORTANTE*/
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ll{
      
      height: 200px;
      width: 600px;
      text-align: center;
    }

    .texto2 {
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F00FF00', EndColorStr='#7F00FF00');
      width: 500px;
      text-align: center;
    }
  </style>
</head>

<div>

  {% extends 'index.html' %}

  {% block content %}
  <div class="texto">
    <div class="ll">
      <div class="texto2">
        Le hemos enviado un email con instrucciones para restablecer su contraseña, si un usuario existe con el email
        proveido.
        En breve recibira en el email las instruciones.
        Si no ha recibido un email, por favor asegurese de haber proveido el email con el que se registro, y revise su
        folder de spam.
      </div>

    </div>
  </div>


  <!-- Muestra retorno a Homepage -->

  {% endblock %}

  </body>

</html>