<!-- Vista Envio de correo de la App Login -->
<!DOCTYPE html>
<html>

  <head>
    <title>Envio de correo</title>
  </head>

  <body>

    {% extends 'index.html' %}

    {% block content %}
    <p>
      Le hemos enviado un email con instrucciones para restablecer su contraseña, si un usuario existe con el email proveido.
      En breve recibira en el email las instruciones.
    </p>
    <p>
      Si no ha recibido un email, por favor asegurese de haber proveido el email con el que se registro,
      y revise su folder de spam.
    </p>

    <!-- Muestra retorno a Homepage -->
    <a href="{% url 'home' %}"> Inicio </a>
    <p> </p>

    {% endblock %}

  </body>
</html> 