<!-- Vista Homepage de la App Login -->
<!DOCTYPE html>
<html>

    <head>
        <title>Inicio</title>
    </head>

    <body>

        <!-- Abre un bloque de contenido -->
        {% block content %}

            <h1>Bienvenido al Inicio!</h1>

            <!-- Si el usuario ya esta logueado -->
            {% if user.is_authenticated %}

                <!-- Muestra retorno para logout y dashboard -->
                <a href="{% url 'logout' %}">Log out</a>
                <p> </p>
                <a href="{% url 'dashboard' %}">Dashboard</a>

                <!-- Si no esta logueado -->
                {% else %}

                <!-- Muestra retorno a login y register -->
                <a href="{% url 'login_url' %}">Log in</a>
                <p> </p>
                <a href="{% url 'register_url' %}">Registrate</a>

            {% endif %}

        {% endblock %}

    </body>

</html>