<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewDashboard</title>
</head>
<body>
    {% extends 'index.html' %}

    <!-- Abre un bloque de contenido -->
    {% block content %}

    <h1>Hola {{user.username}}, bienvenido al panel de administracion</h1>
    <p>Te has logeado nuevamente a la nueva dashboard</p>

    {% endblock %}
</body>
</html>