<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos</title>
</head>

<body>
    {% extends 'index.html' %}

    <!-- Abre un bloque de contenido -->
    {% block content %}

    <h1>Hola {{user.username}}, estos son tus productos</h1>
    <p>Aqui podras encontrar la lista de todos tus productos en existencia.</p>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Productos</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Productos</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}

</body>

</html>